/* body{
    margin: 0px;
    padding: 0px;
}
.vdiv{
    z-index: 100;
}
video{
    width: 100%;
    height: 100%;
}

nav{
    background-color: rgba(240, 248, 255, 0.79);
    position: fixed;
}



.content {
	margin-left: 30%;
    margin-top: unset;
    margin-top: 13%;
}
fieldset {
    width: 56%;
    border: 0px;
    border-radius: 35%;
    background-color: rgba(246, 246, 224, 0.65);
    margin-bottom: 2%;
}
.title {
	font-size: 5vw;
    font-family: 'Pacifico';
    color: rgba(6, 82, 67, 0.99)
}
.title2{
    color: #0a83ed;
    font-family: 'Bangers';
    font-size: 6vw;
    margin-left: 3%;
    width:auto;
    
}
.title3 {
    font-family: 'Chewy';
    font-size: 6vh;
    color:darkgoldenrod;
}



.parallax {
    height: 30vw;
    background-image: url('../imagenes/cero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: lightseagreen;
    display: flex;
    align-items: center;
}

input[type="text"]{
    width:24.5vw; 
}

textarea{
    width: 51vw;
}

.parallax2 {
    height: 30vw;
    
    background-image: url('../imagenes/cut.jpg');
    background-color: darkgoldenrod;
    background-position:left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: lightseagreen;
    display: flex;
    align-items: center;
}

.parallax2 h2{
    color:black;
    padding-bottom: 5vh;
}

.parallax2 p{
    color:black;
    font-size: 1.3vw;
}

.btn1{
    float:right;
    background-color:transparent !important;
    color: black !important;
}

.btn2 {
    float: right;
    background-color: transparent !important;
    color: black !important;
}

.count {
    position: absolute;
    font-family: 'Oleo Script';
    font-size:18vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 20vh;
    text-decoration: wavy;
}


p {
    font-family: 'Open Sans';
    font-size:3vh;
}



.footer {
    background-image: url('../imagenes/pex.jpg');
    background-size:cover;
    background-position:center;
    height:100vw;
}

.rigths{
    position:absolute;
    bottom:0;
    color:white;

}
 */

.logo{
    /* width: 14%; */
    margin-left: 2%;
    /* margin-right: 36%; */
    font-size: 2.3vw;
    /* margin-top: 2%; */
}
.absolute{
    position: absolute;
    
    left: 0;right: 0;bottom: 0;top: 0;
}
#welcome{
    border-bottom: 6px solid #ff9d00;
    border-radius: 22%;
    
}
a{
    text-decoration: none;
    /* size: 4ch; */
    /* font-size: 3vh;  */
    /* font-size: 2vw; */
    /* color:black; */
    font-family: 'Oleo Script';
    
    /* margin-right: 1.8%; */
    padding-bottom: 0.2%;
    
}
/* .carousel-inner img {
    width: 100%;
max-height: 50%; 
}

.carousel-inner{
 height: ;
} */
 /* a:hover{
     border-bottom: 6px solid #ff9d00;
     border-radius: 22%;
     
} */
.footer {
    
    padding: 30px;
    color: #cccccc;
    background-color: #222222;
}


.footer .social {
    
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    margin-right: 5px;
}


.footer input {
    
    height: 40px;
    width: 160px;
    padding: 10px;
    border: none;
    background-color: #cccccc;
    color: #000;
}

.footer .btn {
    
    padding: 10px 5px 10px;
    margin: -3px 0 0 5px;
}
